table {

    border-collapse: collapse;
    /*width: 100%;*/
     /*border-collapse: collapse; border: 1px solid black; */
table-layout: fixed;
 width:100%;

}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}
th{ width: 20px; }

tr.notfirst:hover {background-color: #98e0bc;}

div.table-div{
	position:absolute; ;
    width: 100%;
    height: 100%;
    left: 0;
    top: 20;
    padding: 20px;

}

.custom-table{border-collapse:collapse;width:100%;border:solid 1px #39423e;}
.custom-table th,.custom-table td{text-align:left;padding:8px;border:solid 1px #c0c0c0}
.custom-table th{color:#282d2b}
.custom-table tr:nth-child(odd){background-color:#f7f7ff}
.custom-table>thead>tr{background-color:#838e89!important}
.tbtn{border:0;outline:0;background-color:transparent;cursor:pointer}
.toggler{display:none}
.toggler1{display:table-row;}
.custom-table a{color: #0033cc;}
.custom-table a:hover{color: #f00;}
.page-header{background-color: #eee;}

/*a.previous {
  background-color: #f1f1f1;
  color: black;
}*/

.custom-table2{border-collapse:collapse;width:100%;border:solid 1px #39423e;}
.custom-table2 th,.custom-table2 td{text-align:left;padding:8px;border:solid 1px #c0c0c0}
.custom-table2 th{color:#282d2b}
/*.custom-table2 tr:nth-child(odd){background-color:#f7f7ff}*/
.custom-table2 thead{background-color:#6c7a75 }

.custom-table2 a{color: #0033cc;}
.custom-table2 a:hover{color: #f00;}